
<table mat-table [dataSource]="dataSource" class="customerAccountsTable">


    <ng-container matColumnDef="login">
      <th mat-header-cell *matHeaderCellDef> Логин </th>
      <td mat-cell *matCellDef="let element"> {{element.customerAccountDto.login}} </td>
    </ng-container>


    <ng-container matColumnDef="orderDate">
      <th mat-header-cell *matHeaderCellDef> Время заказа </th>
      <td mat-cell *matCellDef="let element"> {{element.timeOrder}} </td>
    </ng-container>

    <ng-container matColumnDef="products">
        <th mat-header-cell *matHeaderCellDef> Продукты</th>
        <td mat-cell *matCellDef="let element">
         <mat-list>
            <mat-list-item *ngFor="let orderProduct of element.orderProductsDto">{{orderProduct.product.name}}</mat-list-item>
        </mat-list>
     </td>
      </ng-container>

    <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef>Удалить</th>
        <td mat-cell *matCellDef="let element"><button mat-button (click)="deleteClicked(element)">удалить</button></td>
    </ng-container>
  


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
