<mat-card>

    <mat-nav-list  class="list-horizontal">
        <mat-list-item class="nav-item"><a routerLink=""><h3>Пользователи</h3></a></mat-list-item>
        <mat-list-item class="nav-item"><a routerLink="/product"><h3>Меню</h3></a></mat-list-item>
        <mat-list-item class="nav-item"><a routerLink="/order"><h3>Заказы</h3></a></mat-list-item>
        
    </mat-nav-list>





    <mat-card-content>
        <h3>Товары</h3>
        <app-product-table [dataSource]="products"  (delete)="deleteProduct($event)" ></app-product-table>
    </mat-card-content>

    <mat-card-actions>
        <form [formGroup]="form">
            <mat-list>
                <mat-list-item>
                    <mat-form-field appearance="fill">
                        <mat-label>Товар</mat-label>
                        <mat-select formControlName="id" (selectionChange)="setName($event)">
                            <mat-option [value]="0">Новый</mat-option>
                            <mat-option *ngFor="let product of products" [value]="product.id">
                                {{product.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                <!-- <mat-form-field class="example-form-field" appearance="fill">
                    <input formControlName="id"  value="0" matInput type="number" min="0" placeholder="id">
                </mat-form-field> -->
                </mat-list-item>
                <mat-list-item>
                <mat-form-field class="example-form-field" appearance="fill">
                    <input formControlName="name"  matInput maxlength="20" placeholder="Название">
                </mat-form-field>
                </mat-list-item>
            <mat-list-item>
                <mat-form-field class="example-form-field" appearance="fill">
                    <input formControlName="price" matInput type="number" placeholder="Цена">
                </mat-form-field>
            </mat-list-item>
            </mat-list>
        </form>
        <button *ngIf="idControl.value == 0" mat-flat-button color="primary"(click)="addProductItem()" >Добавить</button>
        <button *ngIf="idControl.value != 0" mat-flat-button color="primary"(click)="updateProductItem()" >Обновить</button>
    </mat-card-actions>
    
    


</mat-card>

