
<mat-card>
    
    <mat-nav-list  class="list-horizontal">
        <mat-list-item class="nav-item"><a routerLink=""><h3>Customer</h3></a></mat-list-item>
        <mat-list-item class="nav-item"><a routerLink="/product"><h3>Product</h3></a></mat-list-item>
        <mat-list-item class="nav-item"><a routerLink="/order"><h3>Order</h3></a></mat-list-item>
        
    </mat-nav-list>

      

 
    
    <mat-card-content>
   
    <h3>Пользователи</h3>
   <app-customer-account-table [dataSource]="customerAccounts" (delete)="deleteCustomerAccount($event)"></app-customer-account-table>
   </mat-card-content>

   <mat-card-actions>
    <form [formGroup]="form">
        <mat-list>
            <mat-list-item>
            <mat-form-field class="example-form-field" appearance="fill">
                <input formControlName="id"  value="0" matInput type="number" min="0" placeholder="id">
            </mat-form-field>
            </mat-list-item>
            <mat-list-item>
            <mat-form-field class="example-form-field" appearance="fill">
                <input formControlName="login"  matInput maxlength="20" placeholder="Login">
            </mat-form-field>
            </mat-list-item>
        <mat-list-item>
            <mat-form-field class="example-form-field" appearance="fill">
                <input formControlName="password" matInput maxlength="20" placeholder="Password">
            </mat-form-field>
        </mat-list-item>
        <mat-list-item>
            <mat-form-field class="example-form-field" appearance="fill">
                <input formControlName="balance" matInput type="number" placeholder="Balance">
            </mat-form-field>
        </mat-list-item>
        </mat-list>
    </form>
    <button mat-flat-button color="primary" (click)="addCustomerAccountItem()">Добавить</button>
    <button mat-flat-button color="primary" (click)="updateCustomerAccountItem()">Обновить</button>
</mat-card-actions>


  

</mat-card>